body{
    font-family: sans-serif;
}
li{
    font-family: inherit;
}
h1{
    color: yellowgreen;
    font-family: sans-serif;
}
code{
    font-family: monospace;
    color: red;
}
.diff-color{
    color: green;
}
ol > li{
    background: #000;
    color: white;
}